In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
green_df = pd.read_csv("green_tripdata_2019-01.csv")
zone_df = pd.read_csv("taxi_zone_lookup.csv")

In [1]:
green_df.lpep_dropoff_datetime = pd.to_datetime(green_df.lpep_dropoff_datetime)
green_df.lpep_pickup_datetime = pd.to_datetime(green_df.lpep_pickup_datetime)

NameError: name 'pd' is not defined

In [17]:
engine = create_engine(f"postgresql://root:root@localhost:5432/ny_taxi")

In [18]:
print(pd.io.sql.get_schema(green_df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [14]:
# green_df.to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

918

In [19]:
print(pd.io.sql.get_schema(zone_df, name="zone_data", con=engine))

CREATE TABLE zone_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [21]:
zone_df.to_sql(name="zone_data", con=engine, if_exists="replace")

265